**/.gradle
**/build

**/out/
.idea
**/.idea

**/*.iml
**/*.ipr
**/*.iws

**/bin
**/.settings
**/.project
**/.classpath

**/node_modules

**/target
**/fileLog
**/fileStore

**/.springBeans

**/*.pyc
**/*.class

**/*.log

